<!DOCTYPE html>
<center>
</center>
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2>CONTACT</h2>
        <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-female" style="width:30px"></i> Seidi A Mohammad<br>
            <i class="fa fa-map-marker" style="width:30px"></i> Charlotte NC USA<br>
            <i class="fa fa-female" style="width:30px"></i> Phone # : 704-957-2140<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: seidiali2013@gmail.com<br>
            <img src="../Images/seidi2.png" align="middle"/>
        </div>
        </div>
    </div>

