<!DOCTYPE html>
<html lang="en">
<title>Loan Approval Prediction</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none} 
.textcenter{text-align: center;}
</style>
<body>

    <!-- Navbar -->
    <div class=" textcenter w3-top w3-bar w3-black w3-card">
            <h1 class="display-4">Let's Predict Your Loan Approval Status!</h1>
            <p class="lead">Loan Approval Prediction using Machine Learning. </p>
    </div>
    <br>
    <br>
    <br>
    {% block content %}{% endblock%}

    <!-- The Contact Section -->
    
    <!-- End Page Content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
            <div class="m6 w3-large w3-margin-bottom">
                    <i class="fa fa-female" style="width:30px"></i> Seidi A Mohammad<br>
                    <i class="fa fa-map-marker" style="width:30px"></i> Charlotte NC USA<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: seidiali2013@gmail.com<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> github: https://github.com/seidiali21<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> linkedin: https://www.linkedin.com/in/seidi-ali-mohammad/<br>
                    <a class="btn btn-primary btn-lg" href="https://www.kaggle.com/granjithkumar/loan-approval-data-set" target="_blank" role="button">Source: Loan Dataset.</a>
                </div>
    </footer>
    
</body>
</html>